.header {
    flex-basis: 75px;
    position: sticky;
    background-color: #11495A;
    border-bottom: 1px solid black;
}

.nav {
    display: flex;
    gap: 36px;
}

.nav * {
    text-decoration: none;
}